body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.toggle-sidebar {
    display: none;
}

.toggle-tab, .close-tab {
    position: fixed;
    top: 20px;
    left: 250px; /* Just outside the sidebar */
    width: 10px; /* Thickness of the tab */
    height: 42px; /* Length of the tab */
    background-color: #111;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1000;
    transition: left 0.3s;
}

.toggle-sidebar:checked ~ .toggle-tab {
    left: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: width 0.3s;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.toggle-sidebar:checked ~ .sidebar {
    width: 0;
    padding-top: 0;
    overflow: hidden;
}

.toggle-sidebar:checked ~ .sidebar a, 
.toggle-sidebar:checked ~ .sidebar .close-tab {
    display: none;
}

.main-content {
    margin-left: 250px;
    padding: 16px;
    transition: margin-left 0.3s;
}

.toggle-sidebar:checked ~ .main-content {
    margin-left: 0;
}

.toggle-sidebar:not(:checked) ~ .toggle-tab {
    display: block;
}

.section {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

body{
    background-color: rgb(20, 31, 29);
    color: rgb(194, 237, 210);
}
